<!DOCTYPE html>
<html>
    <head>
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous"
        />
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link rel="stylesheet" href="../static/style.css" />
    
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="../static/script.js"></script>
      </head>
<body>
    <div class="app-info">
        <h1 >AI Investment Advisor Powered by LangChain and LLM on Watsonx</h1>
        <p>Select from 500 top stocks by market cap as of October 25, 2023. Get real-time financial news and analyze 2-year financial statements for your chosen company.</p>
        <p>Please note this application is solely for educational purposes and does not provide specific advice, including but not limited to investment, financial, or similar matters.</p>
    </div>    
    <div class="chat-container"> 
        <div class="chat-messages" id="chatMessages">
            <h5 class="bot-message initial-message">Please select a stock ticker to get started.</h5>
        </div>  
        <div class="input-container">
            <select id="stockTickerSelect" class="custom-select">
                <option value="AAPL">AAPL (Apple Inc.)</option>
                <option value="MSFT">MSFT (Microsoft Corporation)</option>
                <option value="GOOG">GOOG (Alphabet Inc. Class C Capital Stock)</option>
                <option value="GOOGL">GOOGL (Alphabet Inc. Class A)</option>
                <option value="AMZN">AMZN (Amazon.com Inc.)</option>
                <option value="NVDA">NVDA (NVIDIA Corporation)</option>
                <option value="META">META (Meta Platforms Inc. Class A)</option>
                <option value="BRK/A">BRK/A (Berkshire Hathaway Inc.)</option>
                <option value="BRK/B">BRK/B (Berkshire Hathaway Inc.)</option>
                <option value="TSLA">TSLA (Tesla Inc.)</option>
                <option value="LLY">LLY (Eli Lilly and Company)</option>
                <option value="UNH">UNH (UnitedHealth Group Incorporated (DE))</option>
                <option value="WMT">WMT (Walmart Inc.)</option>
                <option value="V">V (Visa Inc.)</option>
                <option value="XOM">XOM (Exxon Mobil Corporation)</option>
                <option value="JPM">JPM (JP Morgan Chase & Co.)</option>
                <option value="JNJ">JNJ (Johnson & Johnson)</option>
                <option value="MA">MA (Mastercard Incorporated)</option>
                <option value="AVGO">AVGO (Broadcom Inc.)</option>
                <option value="PG">PG (Procter & Gamble Company (The))</option>
                <option value="CVX">CVX (Chevron Corporation)</option>
                <option value="HD">HD (Home Depot Inc. (The))</option>
                <option value="ORCL">ORCL (Oracle Corporation)</option>
                <option value="MRK">MRK (Merck & Company Inc. (new))</option>
                <option value="ABBV">ABBV (AbbVie Inc.)</option>
                <option value="ADBE">ADBE (Adobe Inc.)</option>
                <option value="COST">COST (Costco Wholesale Corporation)</option>
                <option value="KO">KO (Coca-Cola Company (The))</option>
                <option value="PEP">PEP (PepsiCo Inc.)</option>
                <option value="CSCO">CSCO (Cisco Systems Inc. (DE))</option>
                <option value="BAC">BAC (Bank of America Corporation)</option>
                <option value="CRM">CRM (Salesforce Inc.)</option>
                <option value="MCD">MCD (McDonald's Corporation)</option>
                <option value="CMCSA">CMCSA (Comcast Corporation Class A)</option>
                <option value="NFLX">NFLX (Netflix Inc.)</option>
                <option value="TMO">TMO (Thermo Fisher Scientific Inc)</option>
                <option value="PFE">PFE (Pfizer Inc.)</option>
                <option value="TMUS">TMUS (T-Mobile US Inc.)</option>
                <option value="ABT">ABT (Abbott Laboratories)</option>
                <option value="AMD">AMD (Advanced Micro Devices Inc.)</option>
                <option value="NKE">NKE (Nike Inc.)</option>
                <option value="TBC">TBC (AT&T Inc. 5.625% Global Notes due 2067)</option>
                <option value="DIS">DIS (Walt Disney Company (The))</option>
                <option value="TBB">TBB (AT&T Inc. 5.350% Global Notes due 2066)</option>
                <option value="DHR">DHR (Danaher Corporation)</option>
                <option value="AMGN">AMGN (Amgen Inc.)</option>
                <option value="VZ">VZ (Verizon Communications Inc.)</option>
                <option value="COP">COP (ConocoPhillips)</option>
                <option value="INTC">INTC (Intel Corporation)</option>
                <option value="INTU">INTU (Intuit Inc.)</option>
                <option value="PM">PM (Philip Morris International Inc)</option>
                <option value="TXN">TXN (Texas Instruments Incorporated)</option>
                <option value="UPS">UPS (United Parcel Service Inc.)</option>
                <option value="CAT">CAT (Caterpillar Inc.)</option>
                <option value="UNP">UNP (Union Pacific Corporation)</option>
                <option value="IBM">IBM (International Business Machines Corporation)</option>
                <option value="GE">GE (General Electric Company)</option>
                <option value="QCOM">QCOM (QUALCOMM Incorporated)</option>
                <option value="HON">HON (Honeywell International Inc.)</option>
                <option value="MS">MS (Morgan Stanley)</option>
                <option value="BMY">BMY (Bristol-Myers Squibb Company)</option>
                <option value="RTX">RTX (RTX Corporation)</option>
                <option value="AMAT">AMAT (Applied Materials Inc.)</option>
                <option value="NOW">NOW (ServiceNow Inc.)</option>
                <option value="T">T (AT&T Inc.)</option>
                <option value="SPGI">SPGI (S&P Global Inc.)</option>
                <option value="NEE">NEE (NextEra Energy Inc.)</option>
                <option value="BA">BA (Boeing Company (The))</option>
                <option value="LMT">LMT (Lockheed Martin Corporation)</option>
                <option value="SBUX">SBUX (Starbucks Corporation)</option>
                <option value="LOW">LOW (Lowe's Companies Inc.)</option>
                <option value="ELV">ELV (Elevance Health Inc.)</option>
                <option value="DE">DE (Deere & Company)</option>
                <option value="AXP">AXP (American Express Company)</option>
                <option value="TJX">TJX (TJX Companies Inc. (The))</option>
                <option value="BKNG">BKNG (Booking Holdings Inc.)</option>
                <option value="SYK">SYK (Stryker Corporation)</option>
                <option value="GS">GS (Goldman Sachs Group Inc. (The))</option>
                <option value="ADP">ADP (Automatic Data Processing Inc.)</option>
                <option value="ISRG">ISRG (Intuitive Surgical Inc.)</option>
                <option value="GILD">GILD (Gilead Sciences Inc.)</option>
                <option value="MDT">MDT (Medtronic plc. Ordinary Shares)</option>
                <option value="VRTX">VRTX (Vertex Pharmaceuticals Incorporated)</option>
                <option value="PLD">PLD (Prologis Inc.)</option>
                <option value="MMC">MMC (Marsh & McLennan Companies Inc.)</option>
                <option value="BLK">BLK (BlackRock Inc.)</option>
                <option value="PGR">PGR (Progressive Corporation (The))</option>
                <option value="SCHW">SCHW (Charles Schwab Corporation (The))</option>
                <option value="CI">CI (The Cigna Group)</option>
                <option value="UBER">UBER (Uber Technologies Inc.)</option>
                <option value="MDLZ">MDLZ (Mondelez International Inc. Class A)</option>
                <option value="CVS">CVS (CVS Health Corporation)</option>
                <option value="REGN">REGN (Regeneron Pharmaceuticals Inc.)</option>
                <option value="ADI">ADI (Analog Devices Inc.)</option>
                <option value="LRCX">LRCX (Lam Research Corporation)</option>
                <option value="ABNB">ABNB (Airbnb Inc. Class A)</option>
                <option value="PANW">PANW (Palo Alto Networks Inc.)</option>
                <option value="CME">CME (CME Group Inc. Class A)</option>
                <option value="ZTS">ZTS (Zoetis Inc. Class A)</option>
                <option value="EOG">EOG (EOG Resources Inc.)</option>
                <option value="AMT">AMT (American Tower Corporation (REIT))</option>
                <option value="MO">MO (Altria Group Inc.)</option>
                <option value="BDX">BDX (Becton Dickinson and Company)</option>
                <option value="C">C (Citigroup Inc.)</option>
                <option value="BSX">BSX (Boston Scientific Corporation)</option>
                <option value="MU">MU (Micron Technology Inc.)</option>
                <option value="NOC">NOC (Northrop Grumman Corporation)</option>
                <option value="SO">SO (Southern Company (The))</option>
                <option value="WFC">WFC (Wells Fargo & Company)</option>
                <option value="SNPS">SNPS (Synopsys Inc.)</option>
                <option value="RTO">RTO (Rentokil Initial plc American Depositary Shares (each representing five (5) Ordinary Shares))</option>
                <option value="FI">FI (Fiserv Inc.)</option>
                <option value="DUK">DUK (Duke Energy Corporation (Holding Company))</option>
                <option value="BX">BX (Blackstone Inc.)</option>
                <option value="ITW">ITW (Illinois Tool Works Inc.)</option>
                <option value="EQIX">EQIX (Equinix Inc. REIT)</option>
                <option value="AON">AON (Aon plc Class A Ordinary Shares (Ireland))</option>
                <option value="CHTR">CHTR (Charter Communications Inc. Class A New)</option>
                <option value="VMW">VMW (Vmware Inc. Class A)</option>
                <option value="CDNS">CDNS (Cadence Design Systems Inc.)</option>
                <option value="HUM">HUM (Humana Inc.)</option>
                <option value="KLAC">KLAC (KLA Corporation)</option>
                <option value="GD">GD (General Dynamics Corporation)</option>
                <option value="WM">WM (Waste Management Inc.)</option>
                <option value="HCA">HCA (HCA Healthcare Inc.)</option>
                <option value="APD">APD (Air Products and Chemicals Inc.)</option>
                <option value="FDX">FDX (FedEx Corporation)</option>
                <option value="MCK">MCK (McKesson Corporation)</option>
                <option value="ICE">ICE (Intercontinental Exchange Inc.)</option>
                <option value="SHW">SHW (Sherwin-Williams Company (The))</option>
                <option value="CL">CL (Colgate-Palmolive Company)</option>
                <option value="EPD">EPD (Enterprise Products Partners L.P.)</option>
                <option value="MPC">MPC (Marathon Petroleum Corporation)</option>
                <option value="CSX">CSX (CSX Corporation)</option>
                <option value="PYPL">PYPL (PayPal Holdings Inc.)</option>
                <option value="ANET">ANET (Arista Networks Inc.)</option>
                <option value="TRI">TRI (Thomson Reuters Corp Common Shares)</option>
                <option value="PXD">PXD (Pioneer Natural Resources Company)</option>
                <option value="MAR">MAR (Marriott International Class A)</option>
                <option value="MCO">MCO (Moody's Corporation)</option>
                <option value="OXY">OXY (Occidental Petroleum Corporation)</option>
                <option value="WDAY">WDAY (Workday Inc. Class A)</option>
                <option value="SCCO">SCCO (Southern Copper Corporation)</option>
                <option value="MNST">MNST (Monster Beverage Corporation)</option>
                <option value="ORLY">ORLY (O'Reilly Automotive Inc.)</option>
                <option value="EMR">EMR (Emerson Electric Company)</option>
                <option value="ROP">ROP (Roper Technologies Inc.)</option>
                <option value="CTAS">CTAS (Cintas Corporation)</option>
                <option value="CMG">CMG (Chipotle Mexican Grill Inc.)</option>
                <option value="PFH">PFH (Prudential Financial Inc. 4.125% Junior Subordinated Notes due 2060)</option>
                <option value="TGT">TGT (Target Corporation)</option>
                <option value="PSX">PSX (Phillips 66)</option>
                <option value="AJG">AJG (Arthur J. Gallagher & Co.)</option>
                <option value="SNOW">SNOW (Snowflake Inc. Class A)</option>
                <option value="MMM">MMM (3M Company)</option>
                <option value="EL">EL (Estee Lauder Companies Inc. (The))</option>
                <option value="FCX">FCX (Freeport-McMoRan Inc.)</option>
                <option value="HES">HES (Hess Corporation)</option>
                <option value="DELL">DELL (Dell Technologies Inc. Class C )</option>
                <option value="KKR">KKR (KKR & Co. Inc.)</option>
                <option value="USB">USB (U.S. Bancorp)</option>
                <option value="PH">PH (Parker-Hannifin Corporation)</option>
                <option value="APO">APO (Apollo Global Management Inc. (New))</option>
                <option value="APH">APH (Amphenol Corporation)</option>
                <option value="MSI">MSI (Motorola Solutions Inc.)</option>
                <option value="AFL">AFL (AFLAC Incorporated)</option>
                <option value="F">F (Ford Motor Company)</option>
                <option value="TDG">TDG (Transdigm Group Incorporated)</option>
                <option value="PCG">PCG (Pacific Gas & Electric Co.)</option>
                <option value="VLO">VLO (Valero Energy Corporation)</option>
                <option value="ECL">ECL (Ecolab Inc.)</option>
                <option value="RSG">RSG (Republic Services Inc.)</option>
                <option value="FTNT">FTNT (Fortinet Inc.)</option>
                <option value="AZO">AZO (AutoZone Inc.)</option>
                <option value="NSC">NSC (Norfolk Southern Corporation)</option>
                <option value="MET">MET (MetLife Inc.)</option>
                <option value="PNC">PNC (PNC Financial Services Group Inc. (The))</option>
                <option value="SRE">SRE (DBA Sempra)</option>
                <option value="PCAR">PCAR (PACCAR Inc.)</option>
                <option value="WELL">WELL (Welltower Inc.)</option>
                <option value="CRWD">CRWD (CrowdStrike Holdings Inc. Class A)</option>
                <option value="ADSK">ADSK (Autodesk Inc.)</option>
                <option value="STZ">STZ (Constellation Brands Inc.)</option>
                <option value="ET">ET (Energy Transfer LP Common Units )</option>
                <option value="PSA">PSA (Public Storage)</option>
                <option value="CPRT">CPRT (Copart Inc. (DE))</option>
                <option value="AIG">AIG (American International Group Inc. New)</option>
                <option value="MRVL">MRVL (Marvell Technology Inc.)</option>
                <option value="PAYX">PAYX (Paychex Inc.)</option>
                <option value="WMB">WMB (Williams Companies Inc. (The))</option>
                <option value="ODFL">ODFL (Old Dominion Freight Line Inc.)</option>
                <option value="EW">EW (Edwards Lifesciences Corporation)</option>
                <option value="NIMC">NIMC (NiSource Inc Series A Corporate Units)</option>
                <option value="MCHP">MCHP (Microchip Technology Incorporated)</option>
                <option value="SGEN">SGEN (Seagen Inc.)</option>
                <option value="KDP">KDP (Keurig Dr Pepper Inc.)</option>
                <option value="LNG">LNG (Cheniere Energy Inc.)</option>
                <option value="CARR">CARR (Carrier Global Corporation )</option>
                <option value="KMB">KMB (Kimberly-Clark Corporation)</option>
                <option value="GM">GM (General Motors Company)</option>
                <option value="ROST">ROST (Ross Stores Inc.)</option>
                <option value="AESC">AESC (The AES Corporation Corporate Units)</option>
                <option value="KHC">KHC (The Kraft Heinz Company)</option>
                <option value="HLT">HLT (Hilton Worldwide Holdings Inc. )</option>
                <option value="HSY">HSY (The Hershey Company)</option>
                <option value="EXC">EXC (Exelon Corporation)</option>
                <option value="MSCI">MSCI (MSCI Inc.)</option>
                <option value="AEP">AEP (American Electric Power Company Inc.)</option>
                <option value="COR">COR (Cencora Inc.)</option>
                <option value="ADM">ADM (Archer-Daniels-Midland Company)</option>
                <option value="CCI">CCI (Crown Castle Inc.)</option>
                <option value="CNC">CNC (Centene Corporation)</option>
                <option value="KMI">KMI (Kinder Morgan Inc.)</option>
                <option value="TTD">TTD (The Trade Desk Inc. Class A)</option>
                <option value="GIS">GIS (General Mills Inc.)</option>
                <option value="CEG">CEG (Constellation Energy Corporation )</option>
                <option value="ON">ON (ON Semiconductor Corporation)</option>
                <option value="TFC">TFC (Truist Financial Corporation)</option>
                <option value="TRV">TRV (The Travelers Companies Inc.)</option>
                <option value="BIIB">BIIB (Biogen Inc.)</option>
                <option value="LVS">LVS (Las Vegas Sands Corp.)</option>
                <option value="NUE">NUE (Nucor Corporation)</option>
                <option value="HAL">HAL (Halliburton Company)</option>
                <option value="MPLX">MPLX (MPLX LP Common Units Representing Limited Partner Interests)</option>
                <option value="DLR">DLR (Digital Realty Trust Inc.)</option>
                <option value="PLTR">PLTR (Palantir Technologies Inc. Class A)</option>
                <option value="IDXX">IDXX (IDEXX Laboratories Inc.)</option>
                <option value="O">O (Realty Income Corporation)</option>
                <option value="BKR">BKR (Baker Hughes Company Class A)</option>
                <option value="SPG">SPG (Simon Property Group Inc.)</option>
                <option value="EA">EA (Electronic Arts Inc.)</option>
                <option value="DHI">DHI (D.R. Horton Inc.)</option>
                <option value="DOW">DOW (Dow Inc. )</option>
                <option value="GWW">GWW (W.W. Grainger Inc.)</option>
                <option value="CTVA">CTVA (Corteva Inc. )</option>
                <option value="COF">COF (Capital One Financial Corporation)</option>
                <option value="IQV">IQV (IQVIA Holdings Inc.)</option>
                <option value="D">D (Dominion Energy Inc.)</option>
                <option value="YUM">YUM (Yum! Brands Inc.)</option>
                <option value="DXCM">DXCM (DexCom Inc.)</option>
                <option value="DD">DD (DuPont de Nemours Inc.)</option>
                <option value="VRSK">VRSK (Verisk Analytics Inc.)</option>
                <option value="SYY">SYY (Sysco Corporation)</option>
                <option value="LHX">LHX (L3Harris Technologies Inc.)</option>
                <option value="CTSH">CTSH (Cognizant Technology Solutions Corporation Class A)</option>
                <option value="FAST">FAST (Fastenal Company)</option>
                <option value="PRU">PRU (Prudential Financial Inc.)</option>
                <option value="XEL">XEL (Xcel Energy Inc.)</option>
                <option value="AME">AME (AMETEK Inc.)</option>
                <option value="BK">BK (The Bank of New York Mellon Corporation)</option>
                <option value="ALL">ALL (Allstate Corporation (The))</option>
                <option value="CPNG">CPNG (Coupang Inc. Class A)</option>
                <option value="AMP">AMP (Ameriprise Financial Inc.)</option>
                <option value="ARES">ARES (Ares Management Corporation Class A)</option>
                <option value="OTIS">OTIS (Otis Worldwide Corporation )</option>
                <option value="A">A (Agilent Technologies Inc.)</option>
                <option value="KR">KR (Kroger Company (The))</option>
                <option value="VEEV">VEEV (Veeva Systems Inc. Class A)</option>
                <option value="CMI">CMI (Cummins Inc.)</option>
                <option value="MRNA">MRNA (Moderna Inc.)</option>
                <option value="NEM">NEM (Newmont Corporation)</option>
                <option value="DVN">DVN (Devon Energy Corporation)</option>
                <option value="ROK">ROK (Rockwell Automation Inc.)</option>
                <option value="ED">ED (Consolidated Edison Inc.)</option>
                <option value="PEG">PEG (Public Service Enterprise Group Incorporated)</option>
                <option value="LEN">LEN (Lennar Corporation Class A)</option>
                <option value="CSGP">CSGP (CoStar Group Inc.)</option>
                <option value="DASH">DASH (DoorDash Inc. Class A)</option>
                <option value="OKE">OKE (ONEOK Inc.)</option>
                <option value="FIS">FIS (Fidelity National Information Services Inc.)</option>
                <option value="GFS">GFS (GlobalFoundries Inc. Ordinary Shares)</option>
                <option value="FANG">FANG (Diamondback Energy Inc.)</option>
                <option value="GEHC">GEHC (GE HealthCare Technologies Inc. )</option>
                <option value="PPG">PPG (PPG Industries Inc.)</option>
                <option value="GPN">GPN (Global Payments Inc.)</option>
                <option value="DDOG">DDOG (Datadog Inc. Class A)</option>
                <option value="VICI">VICI (VICI Properties Inc.)</option>
                <option value="URI">URI (United Rentals Inc.)</option>
                <option value="SQ">SQ (Block Inc. Class A)</option>
                <option value="WST">WST (West Pharmaceutical Services Inc.)</option>
                <option value="VMC">VMC (Vulcan Materials Company (Holding Company))</option>
                <option value="HBANM">HBANM (Huntington Bancshares Incorporated Depositary Shares each representing a 1/1000th interest in a share of Huntington Series I Preferred Stock)</option>
                <option value="CDW">CDW (CDW Corporation)</option>
                <option value="CQP">CQP (Cheniere Energy Partners LP Common Units)</option>
                <option value="IT">IT (Gartner Inc.)</option>
                <option value="SE">SE (Sea Limited American Depositary Shares each representing one Class A Ordinary Share)</option>
                <option value="HPQ">HPQ (HP Inc.)</option>
                <option value="WEC">WEC (WEC Energy Group Inc.)</option>
                <option value="MLM">MLM (Martin Marietta Materials Inc.)</option>
                <option value="DKNG">DKNG (DraftKings Inc. Class A)</option>
                <option value="DG">DG (Dollar General Corporation)</option>
                <option value="MDB">MDB (MongoDB Inc. Class A)</option>
                <option value="WBD">WBD (Warner Bros. Discovery Inc. Series A )</option>
                <option value="SPLK">SPLK (Splunk Inc.)</option>
                <option value="FTV">FTV (Fortive Corporation )</option>
                <option value="EIX">EIX (Edison International)</option>
                <option value="PWR">PWR (Quanta Services Inc.)</option>
                <option value="ZS">ZS (Zscaler Inc.)</option>
                <option value="NDAQ">NDAQ (Nasdaq Inc.)</option>
                <option value="IR">IR (Ingersoll Rand Inc.)</option>
                <option value="TTWO">TTWO (Take-Two Interactive Software Inc.)</option>
                <option value="ANSS">ANSS (ANSYS Inc.)</option>
                <option value="AVB">AVB (AvalonBay Communities Inc.)</option>
                <option value="DLTR">DLTR (Dollar Tree Inc.)</option>
                <option value="CAH">CAH (Cardinal Health Inc.)</option>
                <option value="AWK">AWK (American Water Works Company Inc.)</option>
                <option value="CHD">CHD (Church & Dwight Company Inc.)</option>
                <option value="EXR">EXR (Extra Space Storage Inc)</option>
                <option value="SYM">SYM (Symbotic Inc. Class A)</option>
                <option value="GLW">GLW (Corning Incorporated)</option>
                <option value="YUMC">YUMC (Yum China Holdings Inc.)</option>
                <option value="FICO">FICO (Fair Isaac Corproation)</option>
                <option value="ZBH">ZBH (Zimmer Biomet Holdings Inc.)</option>
                <option value="HEI">HEI (Heico Corporation)</option>
                <option value="EBAY">EBAY (eBay Inc.)</option>
                <option value="XYL">XYL (Xylem Inc. New)</option>
                <option value="TSCO">TSCO (Tractor Supply Company)</option>
                <option value="KEYS">KEYS (Keysight Technologies Inc.)</option>
                <option value="TROW">TROW (T. Rowe Price Group Inc.)</option>
                <option value="CTRA">CTRA (Coterra Energy Inc.)</option>
                <option value="EQR">EQR (Equity Residential Common Shares of Beneficial Interest)</option>
                <option value="HIG">HIG (Hartford Financial Services Group Inc. (The))</option>
                <option value="HUBS">HUBS (HubSpot Inc.)</option>
                <option value="STE">STE (STERIS plc (Ireland) Ordinary Shares)</option>
                <option value="VRSN">VRSN (VeriSign Inc.)</option>
                <option value="SBAC">SBAC (SBA Communications Corporation Class A)</option>
                <option value="RMD">RMD (ResMed Inc.)</option>
                <option value="RCL">RCL (Royal Caribbean Cruises Ltd.)</option>
                <option value="WY">WY (Weyerhaeuser Company)</option>
                <option value="HBANP">HBANP (Huntington Bancshares Incorporated Depositary Shares 4.500% Series H Non-Cumulative Perpetual Preferred Stock)</option>
                <option value="CBRE">CBRE (CBRE Group Inc Class A)</option>
                <option value="ALNY">ALNY (Alnylam Pharmaceuticals Inc.)</option>
                <option value="DAL">DAL (Delta Air Lines Inc.)</option>
                <option value="STT">STT (State Street Corporation)</option>
                <option value="EFX">EFX (Equifax Inc.)</option>
                <option value="ALGN">ALGN (Align Technology Inc.)</option>
                <option value="DFS">DFS (Discover Financial Services)</option>
                <option value="FE">FE (FirstEnergy Corp.)</option>
                <option value="BR">BR (Broadridge Financial Solutions Inc.)</option>
                <option value="DTE">DTE (DTE Energy Company)</option>
                <option value="AEE">AEE (Ameren Corporation)</option>
                <option value="NET">NET (Cloudflare Inc. Class A)</option>
                <option value="COIN">COIN (Coinbase Global Inc. Class A)</option>
                <option value="RBLX">RBLX (Roblox Corporation Class A)</option>
                <option value="MOH">MOH (Molina Healthcare Inc)</option>
                <option value="RJF">RJF (Raymond James Financial Inc.)</option>
                <option value="MPWR">MPWR (Monolithic Power Systems Inc.)</option>
                <option value="TW">TW (Tradeweb Markets Inc. Class A)</option>
                <option value="HPE">HPE (Hewlett Packard Enterprise Company)</option>
                <option value="ETR">ETR (Entergy Corporation)</option>
                <option value="BRO">BRO (Brown & Brown Inc.)</option>
                <option value="MKL">MKL (Markel Group Inc.)</option>
                <option value="FTS">FTS (Fortis Inc. Common Shares)</option>
                <option value="TRGP">TRGP (Targa Resources Inc.)</option>
                <option value="FCNCA">FCNCA (First Citizens BancShares Inc. Class A)</option>
                <option value="INVH">INVH (Invitation Homes Inc.)</option>
                <option value="ULTA">ULTA (Ulta Beauty Inc.)</option>
                <option value="WBA">WBA (Walgreens Boots Alliance Inc.)</option>
                <option value="ZM">ZM (Zoom Video Communications Inc. Class A)</option>
                <option value="ES">ES (Eversource Energy (D/B/A))</option>
                <option value="ILMN">ILMN (Illumina Inc.)</option>
                <option value="MTB">MTB (M&T Bank Corporation)</option>
                <option value="DOV">DOV (Dover Corporation)</option>
                <option value="TDY">TDY (Teledyne Technologies Incorporated)</option>
                <option value="GPC">GPC (Genuine Parts Company)</option>
                <option value="PINS">PINS (Pinterest Inc. Class A)</option>
                <option value="LYV">LYV (Live Nation Entertainment Inc.)</option>
                <option value="OWL">OWL (Blue Owl Capital Inc. Class A)</option>
                <option value="HWM">HWM (Howmet Aerospace Inc.)</option>
                <option value="VLTO">VLTO (Veralto Corp )</option>
                <option value="FLT">FLT (FleetCor Technologies Inc.)</option>
                <option value="WAB">WAB (Westinghouse Air Brake Technologies Corporation)</option>
                <option value="PPL">PPL (PPL Corporation)</option>
                <option value="JBHT">JBHT (J.B. Hunt Transport Services Inc.)</option>
                <option value="NVR">NVR (NVR Inc.)</option>
                <option value="LH">LH (Laboratory Corporation of America Holdings)</option>
                <option value="DUKB">DUKB (Duke Energy Corporation 5.625% Junior Subordinated Debentures due 2078)</option>
                <option value="WRB">WRB (W.R. Berkley Corporation)</option>
                <option value="IRM">IRM (Iron Mountain Incorporated (Delaware)Common Stock REIT)</option>
                <option value="AQNA">AQNA (Algonquin Power & Utilities Corp. 6.875% Fixed-to-Floating Rate Subordinated Notes Series 2018-A due October 17 2078)</option>
                <option value="SIRI">SIRI (Sirius XM Holdings Inc.)</option>
                <option value="CNP">CNP (CenterPoint Energy Inc (Holding Co))</option>
                <option value="K">K (Kellanova)</option>
                <option value="DRI">DRI (Darden Restaurants Inc.)</option>
                <option value="VTR">VTR (Ventas Inc.)</option>
                <option value="MRO">MRO (Marathon Oil Corporation)</option>
                <option value="HRL">HRL (Hormel Foods Corporation)</option>
                <option value="STLD">STLD (Steel Dynamics Inc.)</option>
                <option value="FITBI">FITBI (Fifth Third Bancorp Depositary Shares)</option>
                <option value="FSLR">FSLR (First Solar Inc.)</option>
                <option value="IFF">IFF (International Flavors & Fragrances Inc.)</option>
                <option value="LPLA">LPLA (LPL Financial Holdings Inc.)</option>
                <option value="EXPD">EXPD (Expeditors International of Washington Inc.)</option>
                <option value="TVE">TVE (Tennessee Valley Authority)</option>
                <option value="MKC">MKC (McCormick & Company Incorporated)</option>
                <option value="WMG">WMG (Warner Music Group Corp. Class A)</option>
                <option value="RPRX">RPRX (Royalty Pharma plc Class A Ordinary Shares )</option>
                <option value="AQNB">AQNB (Algonquin Power & Utilities Corp. 6.20% Fixed-to-Floating Subordinated Notes Series 2019-A due July 1 2079)</option>
                <option value="BAX">BAX (Baxter International Inc.)</option>
                <option value="HOLX">HOLX (Hologic Inc.)</option>
                <option value="ARE">ARE (Alexandria Real Estate Equities Inc.)</option>
                <option value="J">J (Jacobs Solutions Inc.)</option>
                <option value="RIVN">RIVN (Rivian Automotive Inc. Class A)</option>
                <option value="FDS">FDS (FactSet Research Systems Inc.)</option>
                <option value="PTC">PTC (PTC Inc.)</option>
                <option value="ALB">ALB (Albemarle Corporation)</option>
                <option value="ROL">ROL (Rollins Inc.)</option>
                <option value="FWONK">FWONK (Liberty Media Corporation Series C Liberty Formula One)</option>
                <option value="PFG">PFG (Principal Financial Group Inc)</option>
                <option value="TSN">TSN (Tyson Foods Inc.)</option>
                <option value="ATO">ATO (Atmos Energy Corporation)</option>
                <option value="AXON">AXON (Axon Enterprise Inc.)</option>
                <option value="COO">COO (The Cooper Companies Inc.)</option>
                <option value="JBL">JBL (Jabil Inc.)</option>
                <option value="SNAP">SNAP (Snap Inc. Class A)</option>
                <option value="AKAM">AKAM (Akamai Technologies Inc.)</option>
                <option value="BMRN">BMRN (BioMarin Pharmaceutical Inc.)</option>
                <option value="PHM">PHM (PulteGroup Inc.)</option>
                <option value="PAYC">PAYC (Paycom Software Inc.)</option>
                <option value="FITB">FITB (Fifth Third Bancorp)</option>
                <option value="CMS">CMS (CMS Energy Corporation)</option>
                <option value="BAH">BAH (Booz Allen Hamilton Holding Corporation)</option>
                <option value="CINF">CINF (Cincinnati Financial Corporation)</option>
                <option value="TYL">TYL (Tyler Technologies Inc.)</option>
                <option value="CF">CF (CF Industries Holdings Inc.)</option>
                <option value="NTAP">NTAP (NetApp Inc.)</option>
                <option value="FITBP">FITBP (Fifth Third Bancorp Depositary Shares each representing 1/40th share of Fifth Third 6.00% Non-Cumulative Perpetual Class B Preferred Stock Series A)</option>
                <option value="EQT">EQT (EQT Corporation)</option>
                <option value="HUBB">HUBB (Hubbell Inc)</option>
                <option value="AGNCN">AGNCN (AGNC Investment Corp. Depositary Shares Each Representing a 1/1000th Interest in a Share of 7.00% Series C Fixed-To-Floating Rate Cumulative Redeemable Preferred Stock)</option>
                <option value="BG">BG (Bunge Limited Bunge Limited)</option>
                <option value="CCL">CCL (Carnival Corporation)</option>
                <option value="CLX">CLX (Clorox Company (The))</option>
                <option value="TXT">TXT (Textron Inc.)</option>
                <option value="FOXA">FOXA (Fox Corporation Class A)</option>
                <option value="MAA">MAA (Mid-America Apartment Communities Inc.)</option>
                <option value="WAT">WAT (Waters Corporation)</option>
                <option value="BBY">BBY (Best Buy Co. Inc.)</option>
                <option value="BSY">BSY (Bentley Systems Incorporated Class B)</option>
                <option value="ASBA">ASBA (Associated Banc-Corp 6.625% Fixed-Rate Reset Subordinated Notes due 2033)</option>
                <option value="VRT">VRT (Vertiv Holdings LLC Class A)</option>
                <option value="SLMBP">SLMBP (SLM Corporation Floating Rate Non-Cumulative Preferred Stock Series B)</option>
                <option value="OMC">OMC (Omnicom Group Inc.)</option>
                <option value="WLK">WLK (Westlake Corporation)</option>
                <option value="RKT">RKT (Rocket Companies Inc. Class A)</option>
                <option value="SWKS">SWKS (Skyworks Solutions Inc.)</option>
                <option value="RS">RS (Reliance Steel & Aluminum Co. (DE))</option>
                <option value="IEX">IEX (IDEX Corporation)</option>
                <option value="FWONA">FWONA (Liberty Media Corporation Series A Liberty Formula One)</option>
                <option value="L">L (Loews Corporation)</option>
                <option value="LUV">LUV (Southwest Airlines Company)</option>
                <option value="TPL">TPL (Texas Pacific Land Corporation)</option>
                <option value="BALL">BALL (Ball Corporation)</option>
                <option value="AVY">AVY (Avery Dennison Corporation)</option>
                <option value="TER">TER (Teradyne Inc.)</option>
                <option value="BLDR">BLDR (Builders FirstSource Inc.)</option>
                <option value="EXPE">EXPE (Expedia Group Inc.)</option>
                <option value="DGX">DGX (Quest Diagnostics Incorporated)</option>
                <option value="SMCI">SMCI (Super Micro Computer Inc.)</option>
                <option value="DT">DT (Dynatrace Inc.)</option>
                <option value="FOX">FOX (Fox Corporation Class B)</option>
                <option value="HBAN">HBAN (Huntington Bancshares Incorporated)</option>
                <option value="SOJE">SOJE (Southern Company (The) Series 2020C 4.20% Junior Subordinated Notes due October 15 2060)</option>
                <option value="WDC">WDC (Western Digital Corporation)</option>
                <option value="ERIE">ERIE (Erie Indemnity Company Class A)</option>
                <option value="AVTR">AVTR (Avantor Inc.)</option>
                <option value="NIO">NIO (NIO Inc. American depositary shares each  representing one Class A ordinary share)</option>
                <option value="ESS">ESS (Essex Property Trust Inc.)</option>
                <option value="SREA">SREA (DBA Sempra 5.750% Junior Subordinated Notes due 2079)</option>
                <option value="AGNCM">AGNCM (AGNC Investment Corp. Depositary Shares rep 6.875% Series D Fixed-to-Floating Cumulative Redeemable Preferred Stock)</option>
                <option value="ENTG">ENTG (Entegris Inc.)</option>
                <option value="WSO">WSO (Watsco Inc.)</option>
                <option value="PKG">PKG (Packaging Corporation of America)</option>
                <option value="AGNCO">AGNCO (AGNC Investment Corp. Depositary Shares each representing a 1/1000th interest in a share of 6.50% Series E Fixed-to-Floating Cumulative Redeemable Preferred Stock)</option>
                <option value="SNA">SNA (Snap-On Incorporated)</option>
                <option value="RF">RF (Regions Financial Corporation)</option>
                <option value="CRBG">CRBG (Corebridge Financial Inc.)</option>
                <option value="APP">APP (Applovin Corporation Class A)</option>
                <option value="NTRS">NTRS (Northern Trust Corporation)</option>
                <option value="LBRDK">LBRDK (Liberty Broadband Corporation Class C)</option>
                <option value="CELH">CELH (Celsius Holdings Inc.)</option>
                <option value="LBRDA">LBRDA (Liberty Broadband Corporation Class A)</option>
                <option value="SUI">SUI (Sun Communities Inc.)</option>
                <option value="AQNU">AQNU (Algonquin Power & Utilities Corp. Corporate Units)</option>
                <option value="ENPH">ENPH (Enphase Energy Inc.)</option>
                <option value="DECK">DECK (Deckers Outdoor Corporation)</option>
                <option value="FITBO">FITBO (Fifth Third Bancorp Depositary Shares each representing a 1/1000th ownership interest in a share of Non-Cumulative Perpetual Preferred Stock Series K)</option>
                <option value="CAG">CAG (ConAgra Brands Inc.)</option>
                <option value="EPAM">EPAM (EPAM Systems Inc.)</option>
                <option value="MGM">MGM (MGM Resorts International)</option>
                <option value="AGNCL">AGNCL (AGNC Investment Corp. Depositary Shares Each Representing a 1/1000th Interest in a Share of 7.75% Series G Fixed-Rate Reset Cumulative Redeemable Preferred Stock)</option>
                <option value="LW">LW (Lamb Weston Holdings Inc. )</option>
                <option value="LKQ">LKQ (LKQ Corporation)</option>
                <option value="RVTY">RVTY (Revvity Inc.)</option>
                <option value="POOL">POOL (Pool Corporation)</option>
                <option value="NWS">NWS (News Corporation Class B)</option>
                <option value="APA">APA (APA Corporation)</option>
                <option value="IOT">IOT (Samsara Inc. Class A)</option>
                <option value="CE">CE (Celanese Corporation)</option>
                <option value="EDR">EDR (Endeavor Group Holdings Inc. Class A)</option>
            </select>
            <button id="submitButton">Submit</button>
            <button id="resetButton">Reset</button>
        </div>
        </div>
    </div>
</body>
</html>
